name: Doxygen Documentation CI

on:
  push:
    branches:
      - doc  # Или ваша основная ветка, например, 'master'
  pull_request:
    branches:
      - doc  # Или ваша основная ветка

jobs:
  build:
    runs-on: ubuntu-latest # Используем последнюю версию Ubuntu
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Клонирует ваш репозиторий

      - name: Set up Doxygen
        uses: mattijsfv/doxygen-action@v1.2.0 # Используем готовое действие для Doxygen
        with:
          # Путь к вашему Doxyfile. Если он в корне, то '.'
          doxyfile-path: .
          # Дополнительные аргументы для Doxygen (опционально)
          # doxygen-args: "-v"

      - name: Deploy documentation to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3 # Действие для развертывания на GitHub Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # Автоматически предоставляемый токен
          publish_dir: ./docs/html # Укажите директорию, куда Doxygen генерирует документацию (согласно вашему Doxyfile)
          # publish_branch: gh-pages # Если вы хотите публиковать на отдельную ветку gh-pages (часто используется)
          # cname: your.domain.com # Если вы используете собственный домен
