name: Doxygen Documentation CI

on:
  push:
    branches:
      - doc  # Изменено с 'main' на 'doc'
  pull_request:
    branches:
      - doc  # Изменено с 'main' на 'doc'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen
        shell: bash

      - name: Generate Documentation
        run: doxygen ${{ github.workspace }}/Doxyfile
        shell: bash

      - name: Deploy documentation to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html
          # publish_branch: gh-pages # Если используете отдельную ветку
