name: Doxygen Documentation CI

on:
  push:
    branches:
      - doc  # Или ваша основная ветка, например, 'master'
  pull_request:
    branches:
      - doc  # Или ваша основная ветка

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen
        shell: bash

      - name: Create output directory
        run: mkdir -p docs # Создаем директорию 'docs', флаг -p гарантирует, что она не будет создана, если уже существует
        shell: bash

      - name: Generate Documentation
        # Убедитесь, что Doxyfile находится в корне вашего репозитория.
        # github.workspace - это корневая директория вашего репозитория на сервере Actions.
        run: doxygen ${{ github.workspace }}/Doxyfile
        shell: bash

      - name: Deploy documentation to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Убедитесь, что OUTPUT_DIRECTORY в вашем Doxyfile установлен в 'docs/html'
          publish_dir: ./docs/html
          # publish_branch: gh-pages # Если используете отдельную ветку
